<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
	<%- include("./partials/nav.ejs") %>
	<div class="full-post">
		<h2><%- post.title	%></h2>
		<p><%- post.body	%></p>
	</div>
	<%- include("./partials/footer.ejs") %>
</body>
</html>